.signup-modal {
  width: 20rem;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.submit-button{
    margin-bottom: 2rem;
}

h1 {
  text-align: center;
}

input {
  margin-left: 7px;
  display: flex;
  justify-content: center;
  width: 15rem
}

.errors{
    font-size: 13px;
    text-align: center;
}
