.rating-input .filled {
    color:  rgb(138, 194, 127);
  }

  .rating-input .empty {
    color:  rgb(198, 210, 196);
  }

.rating-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0;
    align-items: center;
  }


.each-star{
    width:fit-content;
}

.post-review-form{
    display:flex;
    flex-direction: column;
    margin: 0 20px 20px 20px;
    justify-content: center;
}
