img{
   width: 100%;
   height: 250px;
   border-radius: 10px;
}

.location-and-rating{
    display:flex;
    justify-content: space-between;
}

.spot-tile{
    cursor:pointer;
}

.star-and-rating{
    padding-right: 10px;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: black;
    font-size: 12px;
    font-weight: bolder;
    /* rgb(201, 177, 244) */
    background-color: rgb(138, 194, 127);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
  }

  .spot-tile:hover .tooltip-text{
    visibility:visible;
  }
