.reserve-box{
    border: 1px solid black;
    border-radius: 20px;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    max-height: 150px;
}

.fa-solid{
    display:flex;
    align-items: center;
}

.description-div{
    display:flex;
    justify-content: space-between;
    border-bottom: solid black;
    padding-bottom: 3rem;
}

.description{
    margin-right: 50px;
}

.child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.reserve-box-info{
    display: flex;
    justify-content: space-between;
}

.images-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "previewImage otherImages";
    column-gap: 10px;
}

.preview-image{
    grid-area: previewImage;
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}


.other-images-div{
    grid-area: otherImages;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'one two'
    'three four';
    row-gap: 10px;
    column-gap: 10px;
}

.one{
    grid-area: one;
    border-radius: 0;
}

.two{
    grid-area: two;
    border-radius: 0 20px 0 0;
}

.three{
    grid-area: three;
    border-radius: 0;
}

.four{
    grid-area: four;
    border-radius: 0 0 20px 0;
}

.reserve-button-div{
    width: 300px;
    height: 35px;
    display: flex;
    justify-content: center;
}

.reserve-button{
    width: 260px;
    height: 40px;
    background-color: var(--app-color);
    border-color: var(--app-color);
    box-shadow: 4px 4px 5px rgb(151, 150, 150);
    cursor: pointer

}

.spot-details-div{
    margin: 0 40px;
}

.review-list-div{
    margin: 0 40px;
}
